input[type="text"], input[type="email"], input[type="password"], input[type="search"]{
    border: 2px solid #243D59;
    width: 200px;
    height: 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}
form table label{
    border: 2px solid #243D59;
    background: #243D59;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-weight: bold;
}
form table label:hover{
    background: lightgray;
    color: black;
}
input[type="submit"], input[type="button"]{
    border: 2px solid black;
    background: #243D59;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}
input[type="submit"]:hover, input[type="button"]:hover{
    background: lightgray;
    color: black;
}
input[list]{
    width: 200px;
    height: 25px;
    border: 2px solid #243D59;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-weight: bold;
}
input[type="date"], input[type="number"] {
    width: 200px;
    height: 25px;
    border: 2px solid #243D59;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}
textarea{
    border: 2px solid #243D59;
    width: 300px;
    height: 150px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}