body{
	margin: 0;
	background: #243D59;
	font-family: Arial, sans-serif;
}

h1,h2,h3,h4 {
	text-shadow: 0 2px 0 #FFFFFF;
}

ul {
	list-style: circle;
}

a {
	color: #045FB4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#main{
	position: relative;
	margin: 0 auto 0 auto;
	width: 900px;
	padding-top: 20px;
}

header{
	width: 900px;
	height: 50px;
}

section{
    color: #6E6E6E;
    padding: 20px 20px 20px 50px;
    background: white;
    font-family: "Trebuchet MS", sans-serif;
    border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    overflow: hidden;
}

section h1, h2 {
	color: #0B3861;
}

nav{
    /*Bordes redondeados*/
    -webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/    
    background: #ededed;
    overflow:hidden;
    position: relative;
    margin: 0 auto 0 auto;
    width:900px;
}
nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
}
nav ul li:hover{
    /*Degradado de fondo*/
    background: #243D59;
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #FFF;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #FFF;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #FFF;/*Opera*/
    box-shadow:  1px -1px 0px #FFF;/*Estandar por defecto*/
    border:1px solid #E3E3E3;
}
nav ul li a{
    color:#243D59;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
nav ul li a:hover {
    color: white;
}

footer{
	color: #FFFFFF;
	width: 880px;
	padding:10px;
	text-align: center;
}

footer a{
	color: #FFFFFF;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}
